{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=" {% static 'Css/detail.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>
<body>
  


{% block body %}

<!-- <img src="{{post.image_2.url}}" alt=""> -->
<!-- {{post.text_info}}
<hr/>
{{post.text}} -->

<div class="header">
  <a class="iconlink" href="{% url 'index' %}"><i class="fa-brands fa-airbnb"></i>
  </a>
</div>
<!-- <div style="position: relative;" class="icondiv">
  <a  class="iconlink" href="{% url 'index' %}"><i class="fa-brands fa-airbnb"></i></a>
</div> -->


<div class="container2">
  <div class="row">
    <div class="col-full order-2">
      <h2 class="home-title">
        Totally Private Tiny House Villa in Üzümlü Village
      </h2>
      <div class="home-settings">
        <a class="location-link" href="/">Kaş, Antalya, Türkiye</a>
        <div class="save-home">
          <button class="home-settings-btn">
            <i class="fa-sharp upload-hom-icon fa-solid fa-upload"></i>
            <span class="home-settings-btn-text">Paylaş</span>
          </button>
          <button class="home-settings-btn">
            <i class="fa-regular fa-heart"></i>
            <span class="home-settings-btn-text">Kaydet</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-medium order-1">
      <a href="/">
        <img class="home-img" src="{% static 'image/bedroom.png' %}" alt="" />
      </a>
    </div>
    <div class="col-medium d-none">
      <div class="row">
        <div class="col-medium">
          <a href="/">
            <img class="home-img" src="{% static 'image/ev1.png' %}" alt="" />
          </a>
        </div>
        <div class="col-medium">
          <a href="/">
            <img class="home-img" src="{% static 'image/ev1.png' %}" alt="" />
          </a>
        </div>
        <div class="col-medium">
          <a href="/">
            <img class="home-img" src="{% static 'image/ev1.png' %}" alt="" />
          </a>
        </div>
        <div class="col-medium">
          <a href="/">
            <img class="home-img" src="{% static 'image/ev1.png' %}" alt="" />
          </a>
        </div>
      </div>
    </div>

    <div class="col-3_2">
      <div class="row">
        <div class="col-full">
          <div class="home-settings">
            <div>
              <h3 class="home-owner">Tüm villa · Ev sahibi: Erdal</h3>

              <span class="home-room-info">5 Misafir &#8226;</span>
              <span class="home-room-info">5 Misafir &#8226;</span>
              <span class="home-room-info">5 Misafir &#8226;</span>
              <span class="home-room-info">5 Misafir</span>
            </div>
            <a href="/">
              <div class="owner-avatar">
                <img src="{% static 'image/ev1.png' %}" class="owner-img" alt="" />
              </div>
            </a>
          </div>
          <div class="seperator"></div>
        </div>

        <div class="row">
          <div class="col-full m-5 row no-flex-wrap">
            <i
              class="fa-sharp fa-solid fa-location-dot payment-feature-icon"
            ></i>
            <div class="column">
              <span class="payment-feature-title">Mükemmel konum</span>

              <p class="payment-feature">
                Yakın zamanda konaklayan misafirler bu konuma %100 oranında 5
                yıldızlı puan verdi.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-full row no-flex-wrap">
            <i class="fa-solid fa-person-chalkboard payment-feature-icon"></i>
            <div class="column">
              <span class="payment-feature-title">Emrah Süper Ev Sahibi</span>
              <p class="payment-feature">
                Süper Ev Sahipleri, kendilerini misafirler için mükemmel
                konaklamalar sunmaya adamış deneyimli, yüksek puanlı ev
                sahipleridir.
              </p>
            </div>
          </div>
          <div class="seperator"></div>

          <div class="col-full">
            <div class="aircover-container">
              <img src="{% static 'image/aircover.png' %}" width="10" height="20" />
            </div>
            <p class="detail-info-paragraph">
              Her rezervasyon ev sahibi iptallerine, kayıt hatalarına ve girişle
              ilgili problemler gibi diğer sorunlara karşı ücretsiz olarak
              koruma altındadır.
            </p>
            <br />
            <a
              style="color: #393939"
              target="_blank"
              href="https://www.airbnb.com.tr/rooms/33516671?adults=1&category_tag=Tag%3A789&children=0&infants=0&pets=0&search_mode=flex_destinations_search&check_in=2023-02-17&check_out=2023-02-22&federated_search_id=38b6a9f3-d41d-44ae-a1f3-b80d1b0b776e&source_impression_id=p3_1676549977_Dr7xW0q18%2BUEfDJI"
              >Daha fazla bilgi edinin</a
            >
          </div>
          <div class="seperator"></div>
          <p class="detail-info-paragraph">
            dalyan'ın en güzel manzaralı bölgesinde, dalyan plaza residence
            suites içinde özel bir daire. residence'a ait, misafirlerin
            kullanabileceği beach, 2 oda, amerikan mutfak, keyif dolu bir
            balkon, ön bahçede havuz ve muhteşem bir manzara. (residence'in
            kendine ait beach'ine asansörden indikten sonra yürüyerek 1 dk'da
            ulaşabilirsiniz. Havuz ve beach Eylül ayı itibarı ile Haziran ayına
            kadar kapanmıştır. Ancak denize giriş yapılabilir.
          </p>
          <div class="seperator"></div>
          <div class="column">
            <h2 class="bedroom-title">Nerede Uyuyacaksınız ?</h2>
            <span></span>
            <img src="{% static 'image/bedroom.png' %}" class="bedroom-img" />
            <span id="YatakOdası">Yatak odası</span>
            <span class="detail-info-paragraph" id="YatakOdasıDetay"
              >Çift kişilik Baza</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-3_1">
      <div class="payment-card">
        <div class="home-details">
          <div>
            <span class="home-price">3.441 ₺</span>
            <span class="home-night">gece </span>
          </div>
          <div>
            <span class="home-success" id="evelation">&#9733; 4,96 </span>
            <span class="home-success">70 değerlendirme</span>
          </div>
        </div>
        <div class="home-schedule">
          <div class="row">
            <div class="card-col-half" id="borderRight">
              <span class="home-schedule-sub-title">Giriş</span>

              <span class="home-schedule-info">15.06.2023</span>
            </div>
            <div class="card-col-half">
              <span class="home-schedule-sub-title">çıkış</span>

              <span class="home-schedule-info">31.06.2023</span>
            </div>
          </div>
        </div>
        <button class="rezervation-btn">Rezerve Et</button>
        <span
          style="
            display: block;
            text-align: center;
            margin: 10px 0;
            font-weight: 300;
            font-size: 12px;
          "
          >Henüz sizden bir tahsilat yapılmayacak.</span
        >
        <span style="margin-top: 20px; display: inline-block"
          >Misafir Sayısı</span
        >
        <div class="seperator"></div>

        <div class="guess-content">
          <div>
            <span class="guess-type">Yetişkinler</span>
            <span class="guess-type-info">13 Yaşındakiler ve üstü</span>
          </div>
          <div>
            <button class="guess-qty-btn">+</button>
            <span class="guess-qty">0</span>
            <button class="guess-qty-btn">-</button>
          </div>
        </div>
        <div class="guess-content">
          <div>
            <span class="guess-type">Yetişkinler</span>
            <span class="guess-type-info">13 Yaşındakiler ve üstü</span>
          </div>
          <div>
            <button class="guess-qty-btn">+</button>
            <span class="guess-qty">0</span>
            <button class="guess-qty-btn">-</button>
          </div>
        </div>
        <div class="guess-content">
          <div>
            <span class="guess-type">Yetişkinler</span>
            <span class="guess-type-info">13 Yaşındakiler ve üstü</span>
          </div>
          <div>
            <button class="guess-qty-btn">+</button>
            <span class="guess-qty">0</span>
            <button class="guess-qty-btn">-</button>
          </div>
        </div>
        <div class="guess-content">
          <div>
            <span class="guess-type">Yetişkinler</span>
            <span class="guess-type-info">13 Yaşındakiler ve üstü</span>
          </div>
          <div>
            <button class="guess-qty-btn">+</button>
            <span class="guess-qty">0</span>
            <button class="guess-qty-btn">-</button>
          </div>
        </div>
        <hr style="margin: 10px 0" />
        <div class="guess-content">
          <span class="guess-type">Fiyat</span>
          <span class="guess-type-info">₺555</span>
        </div>
        <div class="guess-content">
          <span class="guess-type">KDV</span>
          <span class="guess-type-info">₺44</span>
        </div>
        <hr style="margin: 10px 0" />
        <div class="guess-content">
          <span class="guess-type">Toplam</span>
          <span class="guess-type">₺599</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
<script src="{% static 'Js/detail.js'%}"></script>
</body>
</html>