{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/signin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login</title>
</head>
<body>
        <a class="iconlink" href="{% url 'index' %}"><i class="fa-brands fa-airbnb"></i>
        </a>
    <section class="wrapper">
        <!-- Singup -->
        <div class="form signup">
            <header>Singup</header>
            <form action="#">
                <input type="text" placeholder="Full name" required/>
                <input type="text" placeholder="Email address" required/>
                <input type="password" placeholder="Password" required/>
                <div class="checkbox">
                    <input type="checkbox" id="signupCheck">
                    <label for="signupCheck">I accept all terms & conditions</label>
                </div>
                <input type="submit" value="Signup">
            </form>
        </div>

        <!-- Login -->
        <div class="form login">
            <header>Login</header>
            <form action="#">
                <input type="text" placeholder="Email address" required/>
                <input type="password" placeholder="Password" required/>
                <a href="#">Forgot password?</a>
                <input type="submit" value="Login">
            </form>
        </div>
    </section>


<script src="{% static 'Js/signin.js'%}"></script>
</body>
</html>